body {
  margin:0;
  font-family:-apple-system;
  background:#f5f5f7;
  touch-action:pan-y;
}

.logo {
  text-align:center;
  font-size:36px;
  font-weight:900;
  margin:20px;
}

#grid {
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:6px;
  padding:10px;
}

.card {
  position:relative;
}

img {
  width:100%;
  border-radius:12px;
}

.circle {
  position:absolute;
  top:5px;
  right:5px;
  width:30px;
  height:30px;
  border-radius:50%;
  background:#ffd600;
  display:flex;
  align-items:center;
  justify-content:center;
  font-weight:bold;
}

button {
  width:90%;
  margin:10px;
  padding:15px;
  border-radius:16px;
  border:none;
  background:black;
  color:white;
}